@model NiampList.Models.Product

@{
    ViewBag.Title = "ProductDelete";
}

<h2>ProductDelete</h2>


<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <br />
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />

        </div>
        <br />
        @Html.ActionLink("Back to List", "Product")
    }
</div>
